<h2>Sign up</h2>

<form>
  <div class="field">
    <label for="user_email">Email</label><br />
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" ng-model="email" />
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(8 characters minimum)</em>
    <br />
    <input autocomplete="off" type="password" name="user[password]" id="user_password" ng-model="password" />
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" ng-model="passwordConfirmation"/>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" ng-click="signUp()" />
  </div>
</form>

<a href="/sign_in">Sign in</a>
